* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Muli', sans-serif;
  margin: auto;
  width: 1200px; }
  @media (max-width: 1280px) {
    body {
      width: 800px; } }
  @media (max-width: 880px) {
    body {
      width: auto; } }

header,
nav,
main,
footer {
  border: 1px solid #000; }

#navbar {
  display: flex;
  justify-content: space-between; }

.flex-item {
  width: 100px;
  height: 40px;
  list-style: none;
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #696969; }

nav {
  width: 1260px;
  position: fixed;
  background-color: white;}
  /* margin-top: -200px; } */

main {
  margin: auto;
  border: 0;
  height: 2000px;
  margin-top: 250px; }
  main video {
    width: 440px;
    float: left;
    height: 100%;
    line-height: 0px;
    margin-top: 200px;
    padding-top: 80px;
    padding-left: 60px; }
    @media (max-width: 1440px) {
      main video {
        clear: both;
        width: 400px; } }
  @media (min-width: 800px) and (max-width: 1200px) {
    main {
      clear: both; } }
  main div {
    float: left; }
  main div:nth-child(4) {
    height: 400px; }
  main img {
    float: left;
    width: 400px;
    line-height: 0px; }
    @media (max-width: 880px) {
      main img {
        width: 100%; } }
  main .img-div-1 {
    width: 320px; }
    @media (max-width: 880px) {
      main .img-div-1 {
        width: 100%; } }
  main .img-div-2 {
    width: 400px;
    padding-top: 80px;
    padding-left: 60px; }
    @media (max-width: 880px) {
      main .img-div-2 {
        width: 100%;
        padding-top: 0px;
        padding-left: 0px; } }
  main .img-div-3 {
    width: 360px; }
    @media (min-width: 1280px) {
      main .img-div-3 {
        padding-top: 160px;
        padding-left: 60px; } }
    @media (max-width: 880px) {
      main .img-div-3 {
        width: 100%;
        padding-top: 0px;
        padding-left: 0px; } }
  main .img-div-4 {
    width: 320px;
    margin-top: 200px; }
    @media (max-width: 880px) {
      main .img-div-4 {
        width: 100%;
        padding-left: 60px; } }
    @media (min-width: 880px) and (max-width: 1280px) {
      main .img-div-4 {
        padding-left: 60px; } }
  main .img-div-5 {
    width: 320px;
    padding-top: 400px;
    padding-left: 60px; }
    @media (max-width: 880px) {
      main .img-div-5 {
        width: 100%;
        padding-top: 0px;
        padding-left: 0px; } }
    @media (max-width: 1280px) {
      main .img-div-5 {
        width: 40%;
        padding-top: 200px;
        padding-left: 60px;
        clear: both; } }
  main h1 {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1.1px; }
  main .title1 {
    width: 320px;
    color: #696969;
    text-align: left;
    margin-top: 250px; }
  main .title2 {
    width: 320px;
    color: #696969;
    display: block;
    text-align: left;
    padding-left: 60px;
    margin-top: 390px; }
  main .title3 {
    width: 200px;
    color: #696969;
    display: block;
    text-align: left;
    padding-left: 60px;
    margin-top: 250px; }
  main .title4 {
    width: 320px;
    color: #696969;
    text-align: left;
    margin-top: 450px; }
  main .title5 {
    width: 320px;
    color: #696969;
    display: block;
    text-align: left;
    padding-left: 60px;
    margin-top: 515px; }
  main .title6 {
    width: 200px;
    color: #696969;
    display: block;
    text-align: left;
    padding-left: 60px;
    margin-top: 650px; }
  main footer {
    float: left;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
