* {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x:hidden;  */
}

body {
  font-family: 'Muli', sans-serif;
  margin: auto;
  height:2000px;
  width: 1200px;
 }
  @media (max-width: 1280px) {
    body {
      width: 800px; } }
  @media (max-width: 800px) {
    body {
      width: auto; } }

/* header,
nav,
main,
footer {
  border: 1px solid #000; } */

#navbar {
    display: flex;
    justify-content: space-between; }

  .flex-item {
    width: 100px;
    height: 20px;
    list-style: none;
    font-family: 'Hind', sans-serif;;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #696969;
    padding-top:50px;
  }

  .aboutBtn {
    text-align: right;
  }

nav {
  /* margin-top: 50px; */
  padding-bottom: 40px;
  width: 1200px;
  position: fixed;
  background-color: white;
  z-index: 9;
  /* display: block; */
  }
  @media (max-width:1280px) {
    nav{
      width:900px;
  }
  @media (max-width:880px) {
     nav{
       width:100%;
    }
  }
}

p{
  text-align: center;
  /* border: 1px solid red; */
  width: 1200px;
  position: relative;
  top:200px;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  font-weight: lighter;
  line-height: 1.5;
  font-family: 'Hind', sans-serif;
}
@media (max-width:1280px) {
  p{
    width:900px;
}
@media (max-width:800px) {
   p{
     width:100%;
  }
}
}

span{
  font-family: 'Amiri', serif;
  font-weight: normal;
  font-size: 30px;
}

h1{
  padding-top: 5px;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-weight: lighter;
  font-family: 'Hind', sans-serif;
  color: #696969;
  text-decoration:none;
}

main div{
  float: left;
}


.container-1{
  margin-top: 300px;
  width: 400px;
  height:500px;
}

.size1{
    width:300px;
    height:225px;
}
@media (max-width:800px) {
   .size1{
    width:100%;
    height:100%;
}
}
.size2{
    width: 500px;;
}
@media (max-width:800px) {
   .size2{
    width:100%;
    height:100%;
}
}

.size3{
    width: 200px;
    margin: auto;
}
  @media (max-width:1280px) {
    .size3{
      width:400px;
  }
  @media (max-width:880px) {
    .size3{
      width:100%;
  }
}
}

.size4{
    margin: auto;
}

.size5{
    margin: auto;
}

.size6{
    margin: auto;
}

#container-1{
  display: flex;
  width:1200px;
  align-items: flex-end;
  position: relative;
  top:-200px;
  height: 800px;
}

.sizeall{
  width:380px;
  height:auto;
}

.branding-2{
    position: relative;
    left:30px;
}

.branding-3{
   position: relative;
   left:60px;
}

@media (max-width:800px) {
 .size1{
  width:100%;
  height:100%;
}
}

.music{}
  @media (max-width:800px) {
     .music{
      width:100%;
      height:100%;
  }
}

.variety{
    position: relative;
    top:100px;
}
@media (max-width:800px) {
   .variety{
    width:100%;
    height:100%;
    position: relative;
    top:-200px;
}
}

.branding {
    position: relative;
    left: 200px;
    top: 200px;
}
  @media (max-width:1280px) {
    .branding{
      position: relative;
      left: 0;
      top: 0;
    }
  @media (max-width:800px) {
     .branding{
       width:100%;
       height:100%;
       position: relative;
       top:-450px;
    }
    }
}
.typolyrics{
    width: 200px;
    height:200px;
}
  @media (max-width:1280px){
    .typolyrics{
      position: relative;
      left:100px;
      top:30px;
      width: 400px;
  }
  @media (max-width:800px) {
     .typolyrics{
       width:100%;
       height:100%;
       position: relative;
       top:-650px;
       left:0px;
    }
    }
}

.arch{
    position: relative;
    top:100px;
    left:100px;
    width:600px;
}
  @media (max-width:1280px){
    .arch{
      position: relative;
      left:0px;
      width: 600px;
  }
  @media (max-width:800px) {
     .arch{
       width:100%;
       height:100%;
       position: relative;
       top:-850px;
    }
    }
}

.hair{
    position: relative;
    top:200px;
    left:200px;
    width: 200px;
    height: 266px;
}
  @media (max-width:1280px){
    .hair{
      position: relative;
      left:100px;
      width: 200px;
  }
  @media (max-width:800px) {
     .hair{
       width:100%;
       /* height:100%; */
       position: relative;
       top:-1050px;
       left:0px;
    }
    }
}

h2{
  text-align: right;
  padding-bottom: 50px;
  display: block;
  position: relative;
  top:1100px;
  font-family: 'Hind', sans-serif;
  font-weight: normal;
  color: #696969;
  font-size: 14px;
  letter-spacing: 0.2px;
}

@media (max-width:1280px){
  h2{
    position: relative;
    top:1160px;
    left: 100px;
}
@media (max-width:800px) {
   h2{
     position: relative;
     left:-50px;
     top: 0px;
  }
}
}
.fa-chevron-up {
   position: fixed;
   bottom: 50px;
   left: 120px;
   color: #696969;
   z-index: 90;
  }

  a {
    color: #696969;
    text-decoration: none;
    transition: cubic-bezier(.78,.16,.06,1) 500ms 0s;
  }

  a:visited {
      color: #696969;
      text-decoration: none;
  }

  a:hover {
      text-decoration: none;
      color: white;
  }

  a:active {
      /* text-decoration: underline; */
  }
.titlelink {
  text-decoration: underline;

}
